.onboarding-wrapper {
  display: flex;
  min-height: 100vh;
  .onboarding-box-wrapper {
    background-image: url("../../assets/onboarding/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex: 0 0 47%;

    .onboarding-logo-box {
      display: flex;
      padding: 2rem 3rem;
      img {
        width: 10rem;
      }
    }
    .onboarding-content-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      gap: 4rem;
      margin-top: 4rem;
      .onboarding-content-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        .top-content-header-text {
          font-size: 3.8rem;
          font-weight: 600;
          color: #1f2937;
          line-height: 3rem;
          letter-spacing: 1px;
          .top-content-highlight {
            color: #5b0aff;
          }
        }
        .top-content-body-text {
          color: #6b7280;
          font-size: 17px;
        }
      }
      .onboarding-content-bottom {
        background-image: url("../../assets/onboarding/Group\ \(10\).png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 50rem;
        width: 100%;
      }
    }
  }
}

.btn {
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  transition: opacity 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .btn__icon {
    width: 2rem;
    height: 2rem;
    .img-box {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--secondary {
    background-color: #e0e0e0;
    color: #333;
    font-weight: 600;
    &:hover {
      opacity: 0.9;
    }
  }
  &--grey {
    background-color: #f7f6fa;
    color: #6b7280;
    font-weight: 600;

    &:hover {
      opacity: 0.9;
    }
  }

  &--primary {
    background-color: #7c3aed;
    color: #fff;
    font-weight: 600;

    &:hover {
      opacity: 0.9;
    }
  }

  &--danger {
    background-color: #e74c3c;
    color: #fff;
    font-weight: 600;
    &:hover {
      opacity: 0.9;
    }
  }
}

.upload-box-wrap {
  border: 0.15rem dashed #cbd5e1;
  border-radius: 1.2rem;
  padding: 3.2rem;
  text-align: center;
  cursor: pointer;
  background: #f9fafb;
  transition:
    border-color 0.2s ease,
    background 0.2s ease;

  &:hover {
    border-color: #7c3aed;
    background: #f5f3ff;
  }

  &--error {
    border-color: red;
  }
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.upload-icon {
  width: 4rem;
  height: 4rem;
  background-color: #ffffff;
  border-radius: 50%;

  .img-box {
    width: 100%;
    height: 100%;
  
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }
}

.upload-link {
  color: #7c3aed;
  font-weight: 500;
  font-size: 1.4rem;
}
