.onboarding-wrapper {
  display: flex;

  min-height: 100vh;
  .onboarding-box-wrapper {
    background-image: url("../../assets/onboarding/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex: 0 0 47%;
    

    
    .onboarding-content-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      gap: 4rem;
      margin-top: auto;     
      margin-bottom: auto;
      .onboarding-content-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
       
        .top-content-body-text {
          color: #6b7280;
          font-size: 16px;
       
        }
      }
      .onboarding-content-bottom {
        background-image: url("../../assets/onboarding/Group\ \(10\).png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 34rem;
        width: 100%;
      }
    }
  }
}



.btn {
  padding: 1.1rem 1rem;
  border: none;
  border-radius: .8rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--secondary {
    background-color: #e0e0e0;
    color: #333;

  }

  &--primary {
    background-color: #5B0AFF;
    color: #fff;

  
  }

  &--danger {
    background-color: #e74c3c;
    color: #fff;

  }
}

.btn--unfilled {
  background-color: #9B6AFF;
  cursor: pointer; 
}